<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}
      SSE + HTMX Demo
    {% endblock %}
  </title>
  <script
    src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
    integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
    crossorigin="anonymous"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.4"
    integrity="sha384-A986SAtodyH8eg8x8irJnYUk7i9inVQqYigD6qZ9evobksGNIXfeFvDwLSHcp31N"
    crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
  {% block body %}
  	Main Content
  {% endblock %}
</div>

</body>
</html>
